

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto; /* Agregado un espacio superior e inferior para centrar mejor */
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    background-color: #0077cc;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #0077cc;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul.skills {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

ul.skills li {
    margin-right: 15px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

button {
    background-color: #0077cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Centrado */
}

button:hover {
    background-color: #0055a4;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0077cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Centrado */
}

input[type="submit"]:hover {
    background-color: #0055a4;
}
button, a {
    background-color: #0077cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover, a:hover {
    background-color: #0055a4;
  }